<div class=content>
	
<form action="/findCRISPR" method="POST"  enctype="multipart/form-data">
	<table id="crisprs_table" class="crisprs_table"  width='100%' bgcolor='#ffffff'>
		<th bgcolor='#c0c0c0' valign=bottom width='100%'>
			<font size=2 face="Arial" >
				Modify program parameters  
			</font>
		</th>

		<tr>
			<td>
				<table class = "nobordertable">
					<tr><td><B>SPACER</B></td> <td></td></tr>
					<tr>
						<td>Spacer size</td>
						<td>
							DR* <input type = 'text' name = 'Sp1' value = 0.5 size = 3 maxlength = 4 > 
							to <input type = 'text' name = 'Sp2' value = 3 size = 3 maxlength = 4 > 
						</td>
					</tr>
					<tr>
						<td>The longest spacer</td>
						<td> <input type = 'text' name = 'SpSim' value = 120 size = 3 >bp</td>
					</tr>
					<tr>
						<td>The shortest spacer</td>
						<td> <input type = 'text' name = 'SpSim' value = 10 size = 2 >bp</td>
					</tr>
					<tr>
						<td>Spacers similarity</td>
						<td> <input type = 'text' name = 'SpSim' value = 0.5 size = 2 >（recommend：0.4~0.8） </td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class = "nobordertable">
					<tr><td><B>DR</B></td> <td></td></tr>
					<tr>
						<td>The longest repeats	</td>
						<td> <input type = 'text' name = 'SpSim' value = 47 size = 3 >bp</td>
					</tr>
					<tr>
						<td>Allowed the min similarity as the same DR template</td>
						<td> <input type = 'text' name = 'SpSim' value = 0.8 size = 2 >（recommend：0.7~0.9） </td>
					</tr>
					<tr>
						<td>Allowed the min similarity between DRs in the same CRISPR</td>
						<td> <input type = 'text' name = 'SpSim' value = 0.5 size = 2 >（recommend：0.4~0.9） </td>
					</tr>
					<tr>
						<td>Allowed the min similarity with repeats for the truncated DR</td>
						<td> <input type = 'text' name = 'SpSim' value = 0.35 size = 2 >（recommend：0.2~0.7） </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table class ="primary_table" width='100%' bgcolor='#ffffff'> 
		<tr>
			<th bgcolor='#c0c0c0' valign=bottom width='100%'>
			<font size=2 face="Arial" >
			Submit your Own data   </font></th>
		</tr>
		
		<tr>
	  		<td>
			<p>
			Enter sequence (DNA) below using copy and paste:
			<center>
			<textarea name="SeqContent" cols=60 rows=6></textarea>
			</td>
		</tr>
		<tr>
			<td>
			<p> Or upload a local file: 
			<input type="hidden" name="MAX_FILE_size" value="100000000" />
			<input type="file" name="fname" align=middle>
			</center>
			</td>
		</tr>
		<tr>
			<td>
				<center>
					<input type="hidden" name="DIRname" value=210.75.252.209_Aug_23_2014_06_27_56 />
					<input type=submit value=FindCRISPR align=middle name="submit">
					<input type=reset  value=Reset align=middle name="reset">
					<input type="button" value="Toolscompare" name="Toolscompare">
				</center>
			</td>
		</tr>
	</table>
</form>

</div>